/* 共通 */
.margin0px{
  margin: 0px;
}

.margin5px{
  margin: 5px;
}

.marginTop5px{
  margin-top: 5px;
}

.marginTop10per{
  margin-top: 10%;
}

.marginTop30per{
  margin-top: 30%;
}

.marginTop50per{
  margin-top: 50%;
}

.padding5px{
  padding: 5px;
}

.width50per{
  width: 50%;
}

.width80per{
  width: 80%;
}

#contents{
  width: 100%;
}

/* TOPページ */
.line_height_80px{
  line-height: 80px;
}

.line_height_100px{
  line-height: 100px;
}

.panel_span{
  position: relative;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.panel_span2{
  position: relative;
  display: block;
}

.shadow{
  box-shadow: inset 20px;
}

#section1,
#section2{
  text-align: center;
}

#section2 span.panel_span{
  vertical-align: top;
}

#top_mypage{
  width: 63%;
  height: 100px;
  background-color: #CC0033;
  font-size: 30px;
  color: #fff;
}

#top_setting{
  width: 34%;
  height: 100px;
  background-color: #3333CC;
  font-size: 30px;
  color: #fff;
}

#top_topic1{
  width: 45%;
  height: 200px;
  background-color: #006600;
  font-size: 30px;
  color: #fff;
}

#top_topic2{
  width: 100%;
  height: 80px;
  background-color: #FF6600;
  font-size: 30px;
  color: #fff;
  display: block;
}

#top_topic3{
  width: 100%;
  height: 115px;
  line-height: 115px;
  background-color: #FF6666;
  font-size: 30px;
  color: #fff;
  display: block;
}

/* 支出管理ページ */
